<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Phonebook</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <h1 th:text="'Witaj, ' + ${userName}"></h1>
    <hr>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">All</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#contains">Example 1</a></li>
                        <li><a href="#its_equal">Example 2</a></li>
                        <li><a href="#greather_than">Example 3</a></li>
                        <li><a href="#less_than">Example 4</a></li>
                        <li class="divider"></li>
                        <li><a href="#all">All</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Telefon / nazwa firmy">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
</div>
<hr>
<div>
    <span><button type="button" class="btn btn-primary btn-block">Dodaj wpis</button></span>
    <span><button type="button" class="btn btn-primary btn-block">Wyświetl wszystki wpisy</button></span>
</div>
</body>
</html>